$queen-blue: rgba(51, 101, 138, 1);
$dark-sky-blue: rgba(134, 187, 216, 1);
$charcoal: rgba(47, 72, 88, 1);
$honey-yellow: rgba(246, 174, 45, 1);
$safety-orange-blaze-orange: rgba(242, 100, 25, 1);

.card {
    background-color: $queen-blue;
    border-radius: 0px;
    box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
}

.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.hotel-img {
    width: 200px;
    img {
        max-width: 100%;
        border-bottom: 2px solid #fff;
        border-radius: 8px;
        box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
    }
}
.hotel-body {
    padding: 12px;
    ul {
        font-size: 14px;
        color: #fff;
        display: flex;
        justify-content: flex-start;
        li {
            padding: 4px;
        }
    }
}