<div class="card" *ngIf="hotel">
  <div class="card-header"><h2>{{ hotel.hotelName }}</h2></div>
  <div class="card-body">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4"><img [src]="hotelMainImg" [alt]="hotel.hotelName"></div>
        <div class="col-lg-8">
          <p>{{ hotel.street }}<br>{{hotel.postalCode}} {{ hotel.city}}, {{ hotel.state}}</p>
          <ul *ngIf="hotelFacilities">
            <li *ngFor="let fac of hotelFacilities">{{ fac }}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <button class="btn btn-success btn-md">Zarezerwuj</button>
  </div>
</div>
