<div class="myCard">
  <div class="heading"><h2>Rejestracja</h2></div>
  <form [formGroup]="registerForm" (ngSubmit)="createUser()">
    <div class="row" *ngIf="authError">
      <div class="alert-danger">
        {{ authError?.message }}
      </div>
    </div>
    <div class="form-group">
        <i class="fa fa-user"></i>
        <input class="form-control" formControlName="firstName" name="firstName" placeholder="Imię">
    </div>
    <div class="form-group">
        <i class="fa fa-user"></i>
        <input class="form-control" formControlName="lastName" name="lastName" placeholder="Nazwisko">
    </div>
    <div class="form-group">
        <i class="fa fa-envelope"></i>
        <input class="form-control" formControlName="email" name="email" placeholder="E-mail" type="email" >
    </div>
    <div class="form-group">
        <i class="fa fa-lock"></i>
        <input class="form-control" formControlName="password" name="password" placeholder="Hasło" type="password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Zarejestruj</button>
    </div>
    <div class="form-group mb-5">
      <span>Masz już konto ? </span>
      <button type="submit" class="btn btn-sm btn-warning" [routerLink]="['/login']">Zaloguj</button>
    </div>
    <div class="social">
      <div>Lub zaloguj przez</div>
      <div>
        <ul>
          <li><a class="fab fa-facebook-f" (click)="loginFb()"></a></li>
          <li><a class="fab fa-twitter" (click)="loginGoogle()"></a></li>
          <li><a class="fab fa-instagram" (click)="loginInstagram()"></a></li>
        </ul>
      </div>
    </div>
  </form>
</div>