<div class="container">
    <div class="row">
        <form>
            <div>
                <input class="form-control" type="text" name="firstName" placeholder="firstName" [(ngModel)]="formHero.firstName">
            </div>
            <div>
                <input class="form-control" type="text" name="lastName" placeholder="lastName" [(ngModel)]="formHero.lastName">
            </div>
            <div>
                <input class="form-control" type="email" name="email" placeholder="email" [(ngModel)]="formHero.email">
            </div>
            <div>
                <input class="form-control" type="number" name="phone" placeholder="phone" [(ngModel)]="formHero.phone">
            </div>
            <div class="btn-group mt-4">
                <button class="btn btn-primary btn-sm" (click)="onSubmit()">Wyślij</button>
                <button type="submit" class="btn btn-warning btn-sm" (click)="onGetHeroes()">Odbierz</button>
            </div>
        </form>
    </div>
</div>