<header>
  <div class="logo">
    <h4>Book App</h4>
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="#" *ngIf="isLogged" (click)="onLogout()">Wyloguj <span>({{ currentUser.displayName }})</span></a></li>
      <li><a href="#" *ngIf="isLogged" [routerLink]="['/profile']">Profil</a></li>
      <li><a href="#" *ngIf="!isLogged" [routerLink]="['/register']">Zarejestruj</a></li>
      <li><a href="#" *ngIf="isLogged" [routerLink]="['/generator']">Generator hoteli</a></li>
    </ul>
  </div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</header>
