<header>
  <div class="row">
    <div class="col-lg-4">
      <h1>ReserveApp</h1>
    </div>
    <div class="col-lg-8">
      <div class="nav-links">
        <ul>
          <li *ngIf="isLogged"><a href="#" (click)="onLogout()">Wyloguj <span>({{ currentUser.displayName }})</span></a></li>
          <li *ngIf="isLogged"><a href="#" [routerLink]="['/profile']">Profil</a></li>
          <li *ngIf="isLogged"><a href="#" [routerLink]="['/my-reservations']">Moje rezerwacje</a></li>
          <li *ngIf="!isLogged"><a href="#" [routerLink]="['/register']">Zarejestruj</a></li>
          <li *ngIf="!isLogged"><a href="#" [routerLink]="['/login']">Zaloguj</a></li>
          <li *ngIf="isLogged"><a href="#" [routerLink]="['/generator']">Generator hoteli</a></li>
          <li *ngIf="isAdmin"><a href="#" [routerLink]="['/admin']">[Admin]</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>