<div class="container-fluid myCard">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading"><h2>Moje rezerwacje</h2></div>
    </div>
  </div>
  <div class="row" *ngIf="myReservations.length == 0">
    <div class="col-lg-12">
      <div class="alert-danger">Brak rezerwacji</div>
    </div>
  </div>
  <div class="row" *ngFor="let myRes of myReservations">
    <div class="col-lg-12">
      <app-my-reservation-item [myReservation]="myRes"></app-my-reservation-item>
    </div>
  </div>
</div>
  