<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-lg btn-primary" [routerLink]="['login']">Zaloguj</button>
                <button class="btn btn-lg btn-warning" [routerLink]="['register']">Zarejestruj</button>
                <button class="btn btn-lg btn-success" [routerLink]="['hotels']">Szukaj hotelu</button>
                <button class="btn btn-lg btn-danger" [routerLink]="['add']">Dodaj hotel</button>
                <button class="btn btn-lg btn-secondary" [routerLink]="['generator']">Generator Hoteli</button>
            </div>
        </div>
        <div class="col-md-4">
            <p>Hej {{ displayName }}</p>
            <p>Is Logged? : {{ isLogged }}</p>
        </div>
    </div>
</div>
