<div class="container-fluid myCard">
  <div class="card">
    <div class="card-header">
      <h2>Logowanie</h2>
    </div>
    <div class="card-body">
      <div class="container">
        <div *ngIf="isError" class="alert-danger">{{ isError?.message }}</div>
        <div class="row">
          <div class="col-lg-6">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>E-mail:</mat-label>
                  <input type="email" matInput formControlName="email" name="email">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Hasło:</mat-label>
                  <input type="password" matInput formControlName="password" name="password" autocomplete="on">
                </mat-form-field>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-secondary" type="submit" [disabled]="loginForm.invalid">Zaloguj</button>
              </div>
            </form>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <button class="btn btn-lg btn-primary" (click)="loginFb()"><i class="fab fa-facebook-f"></i>
                Zaloguj</button>
              <button class="btn btn-lg btn-danger" (click)="loginGoogle()"><i class="fab fa-google"></i>
                Zaloguj</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>