<div class="myCard">
  <div class="heading">
    <h3>Login</h3>
  </div>
  <form #userLogForm="ngForm" (ngSubmit)="loginWithEmail(userLogForm)">
    <div class="form-group">
        <input class="form-control" required type="email" name="email" placeholder="E-mail" ngModel #email="ngModel">
    </div>
    <div class="form-group">
        <input class="form-control" required type="password" name="password" placeholder="Password" ngModel #password="ngModel">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-sm" type="submit">Zaloguj</button>
    </div>
  </form>
  <div>
    <div>
      <ul class="social">
        <li><a class="fab fa-facebook-f" (click)="loginFb()"></a></li>
        <li><a class="fab fa-google" (click)="loginGoogle()"></a></li>
        <li><a class="fas fa-sign-out-alt" (click)="logout()"></a></li>
        <li><a class="fas fa-user-check" (click)="checkLogged()"></a></li>
      </ul>
    </div>
  </div>
</div>
