<div class="myCard">
  <div class="heading"><h2>Profile</h2></div>
    <div>
      <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
        <div class="form-group">
          <i class="fa fa-user"></i>
          <input class="form-control" [placeholder]="userData.firstName" formControlName="firstName" name="firstName">
        </div>
        <div class="form-group">
          <i class="fa fa-user"></i>
          <input class="form-control" [placeholder]="userData.lastName" formControlName="lastName" name="lastName">
        </div>
        <div class="form-group">
          <i class="fa fa-envelope"></i>
          <input class="form-control" [placeholder]="userData.email" formControlName="email" name="email">
        </div>
        <div class="form-group">
          <i class="fa fa-lock"></i>
          <input class="form-control" [placeholder]="userData.date" name="date" type="date">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="profileForm.invalid">Zaktualizuj</button>
        </div>
      </form>
  </div>
</div>