<div class="myCard">
  <div class="heading"><h2>Profile</h2></div>
    <div>
      <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
        <div class="form-group">
          <i class="fa fa-user"></i>
          <label for="firstName">Imię</label>
          <input class="form-control" formControlName="firstName" name="firstName" [placeholder]="userData.firstName">
        </div>
        <div class="form-group">
          <i class="fa fa-user"></i>
          <label for="lastName">Nazwisko</label>
          <input class="form-control" formControlName="lastName" name="lastName" [placeholder]="userData.lastName">
        </div>
        <div class="form-group">
          <i class="fa fa-user"></i>
          <label for="displayName">Wyświetlaj jako</label>
          <input class="form-control" formControlName="displayName" name="displayName" [placeholder]="userData.displayName">
        </div>
        <div class="form-group">
          <i class="fa fa-envelope"></i>
          <label for="email">E-mail</label>
          <input class="form-control" formControlName="email" name="email" [placeholder]="userData.email" disabled>
        </div>
        <div class="form-group">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <input class="form-control" formControlName="birthday" name="birthday" [placeholder]="userData.birthday" type="date">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="profileForm.invalid">Zaktualizuj</button>
        </div>
      </form>
  </div>
</div>
