<div class="container-fluid myCard">

  <div class="card">
    <div class="card-header">
      <h2>Edycja profilu</h2>
    </div>
    <div class="card-body">
      <div *ngIf="!userData" class="loader">Ładowanie...</div>
      <form [formGroup]="profileForm">

        <div class="container" *ngIf="userData">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Imię:</mat-label>
                  <input matInput formControlName="firstName" name="firstName">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Nazwisko:</mat-label>
                  <input matInput formControlName="lastName" name="lastName">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Wyświetlaj jako:</mat-label>
                  <input matInput formControlName="displayName" name="displayName">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Urodziny:</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="birthday" name="birthday">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>E-mail:</mat-label>
                  <input matInput formControlName="email" name="email">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group" formGroupName="address">
                <mat-form-field appearance="fill">
                  <mat-label>Ulica:</mat-label>
                  <input matInput formControlName="street" name="street">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Miasto:</mat-label>
                  <input matInput formControlName="city" name="city">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Kod pocztowy:</mat-label>
                  <input matInput formControlName="zip" name="zip">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="btn-group">
        <button type="submit" (click)="updateUser()" class="btn btn-lg btn-success" [disabled]="profileForm.invalid">Zaktualizuj</button>
        <button type="submit" (click)="deleteUser()" class="btn btn-lg btn-danger">Usuń konto</button>
      </div>
    </div>
  </div>

</div>