.card-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    div:nth-of-type(2) {
        padding-left: 6px
    }
    card-image {
        max-width: 200px;
    }
}
