<div class="card" *ngIf="hotel">
  <div class="card-header">
    <h2>{{ hotel.hotelName }}</h2>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4"><img *ngIf="hotel.imgUrlList[0]" [src]="hotel.imgUrlList[0]" [alt]="hotel.hotelName"></div>
        <div class="col-lg-8">
          <p>{{ hotel.address.street }}<br>{{hotel.address.zip }} {{ hotel.address.city }}, {{ hotel.address.state }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="btn-group">
      <button class="btn btn-lg btn-success" (click)="onBook()">Wybierz</button>
    </div>
  </div>
</div>