$queen-blue: rgba(51, 101, 138, 1);
$dark-sky-blue: rgba(134, 187, 216, 1);
$charcoal: rgba(47, 72, 88, 1);
$honey-yellow: rgba(246, 174, 45, 1);
$safety-orange-blaze-orange: rgba(242, 100, 25, 1);

html, body { height: 100% }

body {
    background-color: $dark-sky-blue;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: $safety-orange-blaze-orange;
    margin: 6px;
}

.myCard {
    background-color: $queen-blue;
    padding: 10px;
    box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
    color: $dark-sky-blue;
    box-sizing: border-box;

    .heading {
        color: $safety-orange-blaze-orange;
        text-align: center;
        margin: 0px auto 10px;
        h3 {
            font-size: 24px;
        }
        span {
            font-size: 18px;
        }
    }
    .btn {
        border-radius: 6px;
        padding: 4px 8px;
        margin: 4px;
        box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
        transition: all 0.5s;
    }
    .btn:hover {
        opacity: 0.8;
    }
    .form-group {
        margin: 0 auto 6px;
        position: relative;
    }
    .form-group > i {
        color: $queen-blue;
        font-size: 18px;
        line-height: 32px;
        position: absolute;
        left: 10px;
    }
    .form-control {
        color: $queen-blue;
        border-radius: 0;
        padding: 4px;
        margin: 4px;
        box-sizing: border-box;
        box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
        transition: all 0.5s;
        border: 0px;
        border-bottom: 2px solid $dark-sky-blue;
        height: 34px;
    }
    .form-control::placeholder {
        color: rgba(0,0,0,0.2);
        padding: 4px;
        text-transform: uppercase;
    }
    .form-control:hover {
        border-bottom: 2px solid $safety-orange-blaze-orange;
    }
}
