$queen-blue: rgba(51, 101, 138, 1);
$dark-sky-blue: rgba(134, 187, 216, 1);
$charcoal: rgba(47, 72, 88, 1);
$honey-yellow: rgba(246, 174, 45, 1);
$safety-orange-blaze-orange: rgba(242, 100, 25, 1);
$text-white: #fff;
// $queen-blue: #6a994e;
// $dark-sky-blue: #f2e8cf;
// $charcoal: #386641;
// $honey-yellow: #a7c957;
// $safety-orange-blaze-orange: #f2e8cf;
// $text-white: #fff;
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap");
html,
body {
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  background-color: $dark-sky-blue;
  color: $safety-orange-blaze-orange;
  font-size: 20px;
}

a {
  color: $charcoal;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

label {
  display: block
}

header {
  background: $queen-blue;
  border-bottom: 3px solid $safety-orange-blaze-orange;
  margin-bottom: 24px;
  h1 {
    font-family: 'Poppins', sans-serif;
    color: $dark-sky-blue;
    letter-spacing: 8px;
    font-size: 52px;
    text-shadow: 3px 3px #000;
    margin: 10px 10px;
  }
  .nav-links {
    height: 100%;
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-flow: row wrap;
      li {
        margin: 0px 12px;
      }
      a {
        color: $text-white;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 18px;
        text-transform: uppercase;
        span {
          font-size: 0.8em;
          color: $honey-yellow;
          letter-spacing: normal;
        }
      }
    }
  }
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  >div {
    position: relative;
    padding: 2px;
    width: 33%;
    img {
      border-radius: 0px;
      opacity: 0.8;
    }
    .btn {
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }
}

.room-item {
  position: relative;
  background: $charcoal;
  color: $text-white;
  margin: 2px;
  padding: 2px;
  border-bottom: 2px solid $safety-orange-blaze-orange;
  font-size: 16px;
  text-align: center;
}

.btn {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 6px;
  padding: 4px 8px;
  margin: 4px;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.alert-danger,
.alert-success {
  font-size: 18px;
  max-width: 80%;
  text-align: center;
  padding: 4px;
  margin: 12px auto;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.myCard {
  background-color: $queen-blue;
  padding: 10px;
  margin-bottom: 12px;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.2);
  color: $text-white;
  border-radius: 6px;
  .heading {
    text-align: center;
    color: $safety-orange-blaze-orange;
    margin-bottom: 28px;
    span {
      font-size: 18px;
    }
  }
}

.facilities {
  ul {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;
    li {
      font-size: 0.8em;
      margin: 2px;
      padding: 2px 6px;
      background-color: rgba(47, 72, 88, 0.8);
      color: $text-white;
      cursor: pointer;
    }
  }
}

.card {
  background-color: $honey-yellow;
  color: $charcoal;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.2);
  border: 0px;
  margin: 12px;
}

.mat-select-panel {
  background: $charcoal;
}

.mat-label {
  color: $charcoal;
}

.mat-select {
  color: $charcoal;
}

.mat-form-field-label,
.mat-select-value {
  color: $charcoal;
}

.mat-form-field {
  width: 100%;
}

.mat-select {
  padding: 0px;
}

.mat-select-panel {
  margin-left: 20px;
}

.mat-form-field.mat-focused {
  .mat-form-field-label {
    color: $text-white;
    translate: none;
  }
}

.mat-option-text {
  font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: transparent;
  -webkit-text-fill-color: $text-white;
  transition: background-color 5000s ease-in-out 0s;
}

input[name=city] {
  text-transform: capitalize;
}