@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
$queen-blue: rgba(51, 101, 138, 1);
$dark-sky-blue: rgba(134, 187, 216, 1);
$charcoal: rgba(47, 72, 88, 1);
$honey-yellow: rgba(246, 174, 45, 1);
$safety-orange-blaze-orange: rgba(242, 100, 25, 1);

html, body { height: 100% }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

body {
    background-color: $dark-sky-blue;
    color: $safety-orange-blaze-orange;
    font-size: 18px;
}

.myCard {
    background-color: $queen-blue;
    padding: 10px;
    margin: 0px 0px 8px 0px;
    box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
    color: $dark-sky-blue;
    box-sizing: border-box;

    .card {
        background-color: $honey-yellow;
        color: $charcoal;
        box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
        border: 0px;
    }

    .heading {
        color: $safety-orange-blaze-orange;
        text-align: center;
        margin: 0px auto 10px;
        h3 {
            font-size: 24px;
        }
        span {
            font-size: 18px;
        }
    }
    .btn {
        border-radius: 6px;
        padding: 4px 8px;
        margin: 4px;
        box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
        transition: all 0.5s;
    }
    .btn:hover {
        opacity: 0.8;
    }
    .form-group {
        margin: 0 auto 6px;
        position: relative;
    }
    .form-group > i {
        color: $queen-blue;
        font-size: 18px;
        line-height: 32px;
        position: absolute;
        left: 10px;
    }
    .form-control {
        color: $queen-blue;
        border-radius: 0;
        padding: 4px;
        margin: 4px;
        box-sizing: border-box;
        box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
        transition: all 0.5s;
        border: 0px;
        border-bottom: 2px solid $dark-sky-blue;
        height: 34px;
    }
    .form-control::placeholder {
        font-size: 16px;
        color: rgba(0,0,0,0.4);
    }
    .form-control:hover {
        border-bottom: 2px solid $safety-orange-blaze-orange;
    }
    .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid #42A948;
    }
    .ng-invalid:not(form)  {
        border-left: 5px solid #a94442;
    }
}


