<div class="myCard">
  <div class="heading">
    <h3>Cel podróży:</h3>
  </div>
  <div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="form-group">
        <input class="form-control" formControlName="city" name="city" placeholder="Miasto">
      </div>
      <div class="form-group">
          <input class="form-control" formControlName="dateFrom" name="dateFrom" type="date">
      </div>
      <div class="form-group">
          <input class="form-control" formControlName="dateTo" name="dateTo" type="date">
      </div>
      <div class="form-group">
        <button class="btn btn-warning btn-md" type="submit" [disabled]="searchForm.invalid">Szukaj</button>
      </div>
    </form> 
  </div>
</div>
  