<form [formGroup]="hotelForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Dodaj nowy hotel</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="legacy">
            <input matInput placeholder="Nazwa hotelu" formControlName="hotelName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="legacy">
            <textarea matInput placeholder="Adres" formControlName="address"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="legacy">
            <input matInput placeholder="Miasto" formControlName="city">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="legacy">
            <mat-select placeholder="Województwo" formControlName="state">
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Kod pocztowy" type="number" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!hotelForm.valid">Wyślij</button>
    </mat-card-actions>
  </mat-card>
</form>
