<h3>Dodaj nowy hotel</h3>
<div class="form-container">
    <div class="row">
        <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="hotelName">Nazwa hotelu:</label>
              <input class="form-control" required name="hotelName" id="hotelName" placeholder="Nazwa hotelu" formControlName="hotelName">
            </div>
            <div class="form-group">
              <label for="address">Adres:</label>
              <input class="form-control" required name="address" id="address" placeholder="Adres" formControlName="address">
            </div>
            <div class="form-group">
              <label for="city">Miasto:</label>
              <input class="form-control" required name="city" id="city" placeholder="Miasto" formControlName="city">
            </div>
            <div class="form-group">
              <label for="postalCode">Kod pocztowy:</label>
              <input class="form-control" required name="postalCode" id="postalCode" placeholder="Kod pocztowy" formControlName="postalCode">
            </div>
            <div class="form-group">
              <label for="address">Województwo:</label>
              <select class="form-control" required name="state" id="state" formControlName="state">
                <option *ngFor="let state of states" [value]="state.name">{{ state.name }}</option>
              </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-md" type="submit">Dodaj nowy hotel</button>
            </div>
        </form>
    </div>
</div>