<div class="myCard">
  <div class="heading">
    <h3>Dodaj nowy hotel</h3>
  </div>
  <div>
    <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input class="form-control" required name="hotelName" id="hotelName" placeholder="Nazwa hotelu" formControlName="hotelName">
      </div>
      <div class="form-group">
        <input class="form-control" required name="street" id="street" placeholder="Ulica" formControlName="street">
      </div>
      <div class="form-group">
        <input class="form-control" required name="city" id="city" placeholder="Miasto" formControlName="city">
      </div>
      <div class="form-group">
        <input class="form-control" required name="postalCode" id="postalCode" placeholder="Kod pocztowy" formControlName="postalCode">
      </div>
      <div class="form-group">
        <select class="form-control" required name="state" id="state" formControlName="state">
          <option *ngFor="let state of states" [value]="state.name">{{ state.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="mainImg">Zdjęcie tytułowe:</label>
        <input type="file" class="form-control" name="mainImg" (change)="onFileSelected($event)">
      </div>
      <div class="form-group">
        <label for="mainImg">Reszta zdjęć:</label>
        <input type="file" class="form-control" name="images" (change)="onFileSelected($event)" multiple>
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-md" type="submit">Dodaj</button>
      </div>
    </form>
  </div>
</div>